<mat-card>
    <article>
        <form [formGroup]="aushangForm">
            <section class="row center-xs">
                <section class="col-xs-12 row inputs-wrapper">
                    <mat-label class="col-xs-12">Liebe Nachbarn...</mat-label>
                    <mat-label class="col-xs-12 offset-bottom-50">Wir gehören nicht zur Risikogruppe von Corona und sind
                        aktuell nicht
                        erkrankt. Wir bieten deshalb gerne unsere tatkräftige Hilfe und Unterstützung an. Wir könnten
                        z.B.einen
                        Einkauf
                        für euch erledigen, eine Fahrt übernehmen oder euch/Ihnen mit einem technischen Problem helfen,
                        unsere
                        Fahrräder
                        ausleihen, wenn jemand aktuell auf die Öffentlichen verzichten möchte oder haben einfach ein
                        Ohr, wenn ihr
                        etwas
                        Belastendes zu erzählen habt.</mat-label>
                    <mat-label class="col-xs-12">Was ich übernehmen kann</mat-label>
                    <mat-form-field class="col-xs-12 offset-bottom-50">
                        <mat-label> Was ich übernehmen kann </mat-label>
                        <mat-select formControlName="paragraph1" multiple required>
                            <mat-option>Bitte wählen:</mat-option>
                            <mat-option value="Einkäufe">Einkäufe</mat-option>
                            <mat-option value="Kinderbetreuung">Kinderbetreuung</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-label class="col-xs-12">Was ich zusätzlich übernehmen kann</mat-label>
                    <mat-form-field class="col-xs-12 offset-bottom-50">
                      <mat-label> Was ich zusätzlich übernehmen kann </mat-label>
                      <textarea class="eingabeFeld" formControlName="paragraph1p" matInput></textarea>
                    </mat-form-field>
                    <mat-label class="col-xs-12">Sie erreichen mich unter</mat-label>
                    <div class="col-xs-12 offset-bottom-50">
                        <mat-form-field class="col-xs-6 blockwith">
                            <mat-label>Wo sie mich erreichen können:</mat-label>
                            <mat-select formControlName="paragraph2" multiple required>
                                <mat-option>Bitte wählen:</mat-option>
                                <mat-option value="Telefon">Telefon</mat-option>
                                <mat-option value="Email">Email</mat-option>
                                <mat-option value="In Stockwerk">In Stockwerk</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-xs-6 blockwith">
                            <mat-label>Wie Sie mich dort erreichen können:</mat-label>
                            <textarea class="eingabeFeld" formControlName="paragraph3" matInput required></textarea>
                        </mat-form-field>
                    </div>
                    <mat-label class="col-xs-12">Grüße, </mat-label>
                    <mat-form-field class="col-xs-12">
                        <mat-label> Eure Namen</mat-label>
                        <textarea class="eingabeFeld" formControlName="name" matInput required></textarea>
                    </mat-form-field>

                    <section class="row col-xs-12" style="text-align:center">
                        <button class="col-xs-12" mat-raised-button (click)="generate()"
                            color="primary"><b>Aushangdokument
                                generieren</b></button>
                        <mat-hint>Wir weisen wiederholt darauf hin, dass es wichtig ist, im Kontakt mit Risikogruppen,
                            selbst gesund
                            zu
                            sein. Information zur <a
                                href="https://www.infektionsschutz.de/coronavirus-sars-cov-2.html">Eigensicherheit</a>
                            und <a
                                href="https://www.infektionsschutz.de/fileadmin/infektionsschutz.de/Downloads/200309_BZgA_Atemwegsinfektion-Hygiene_schuetzt_3x_01_DE.pdf">Hygienemaßnahmen</a>
                        </mat-hint>
                    </section>
                    <section class="row col-xs-12" *ngIf="downloadOkay">
                        <a [href]="fileUrl" download="response.pdf">Download Document</a>
                    </section>
                </section>
            </section>


        </form>
    </article>

</mat-card>